.configComponentBox {
    background-color: white;
    text-align: center;
}

.configComponentBoxHeader{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 5px 0px;
    border-top: 1px solid white;
}

.configComponentBoxHeaderLast{
    border-bottom: 1px solid white;
}

body{
    display: block;
}

#levelCheck, #lightsOutCheck, #keySWCheck,#toggleSWCheck{
    width: 5em;
    height: 2.5em;
}

.configComponentBoxTitle{
    margin:3px 0 0 5px;
    color: white;
    font-size : 1.5em;
}

.form-switch{
    margin-right: 8px;
}

#wrapper {
    height: 100vh;
    background-color: black;
}

.gimmickComponent{
    padding: 15px;
}

.config-header{
    background-color: black;
    display: flex;
    justify-content: space-between;
 }

 .timerSettingBox{
    margin: 20px 0;
 }