.configComponentBox {
    background-color: white;
    text-align: center;
}

.configComponentBoxHeader{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    padding: 5px 0px;
}

body{
    display: block;
}

#levelCheck, #lightsOutCheck, #keySWCheck,#toggleSWCheck{
    width: 5em;
    height: 2.5em;
}

.configComponentBoxTitle{
    font-size : 1.5em;
}

.form-switch{
    margin-right: 8px;
}

#wrapper {
    height: 100vh;
    background-color: #D9D9D9;
}

.gimmickComponent{
    padding: 15px;
}

.config-header{
    background-color: black;
    display: flex;
    justify-content: space-between;
 }