.manual-header{
    background-color: black;
    display: flex;
}

.manual-back a{
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
 }

.manual-accordion-box .accordion{
    --bs-accordion-active-bg:#dddddd !important;
}

.manual-accordion-box .accordion-button{
    background-color: #dddddd;
}

.manual-body{
    min-height: 100vh;
    /* background-color: black; */
}

.manual-text-box{
    padding: 20px;
}

.manual-head-box {
    display: flex;
    justify-content: space-between;
}

.manual-text-box p,.manual-text-box li{
    margin-top: 5px;
}

.manual-pattern-box{
    padding-top: 10px;
}

.manual-level-table{
    font-size: 0.8em;
}