.manual-header{
    background-color: #1E1E1E;
    display: flex;
}

.manual-header-empty{
    width: 1.5em;
}

.manual-back a{
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
 }

.manual-accordion-box .accordion{
    --bs-accordion-active-bg:#dddddd !important;
}

.manual-accordion-box .accordion-button{
    background-color: #dddddd;
}

.manual-body{
    background-color: white!important;
    min-height: 100vh;
    background-color: #1E1E1E;
}

.manual-text-box{
    background-color: white;
    padding: 20px;
}

.manual-head-box {
    display: flex;
    justify-content: space-between;
}

.manual-text-box p,.manual-text-box li{
    margin-top: 5px;
}

.manual-pattern-box{
    padding-top: 10px;
}

.manual-level-table{
    font-size: 0.8em;
}
/* PC */
@media screen and (min-width: 768px){
	/* PCに適用するCSS*/
    .manual-body {
        /* PCで見てもスマホと同じ画面幅で表示する */
        width: 480px;
        margin: 0 auto;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
}
/* Tablet */
@media screen and (max-width: 768px){
	/* タブレット画面に適用するCSS*/
    .manual-body {
        /* タブレット画面で画面幅いっぱいに表示する */
        width: 100%;
    }
}
/* SmartPhone */
@media screen and (max-width: 480px){
	/* スマホ画面に適用するCSS*/
    .manual-body {
        /* スマホ画面で画面幅いっぱいに表示する */
        width: 100%;
    }
}