.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
    color: white;
    background-color: black;
}
.time-limit {
    text-align: center;
    margin-bottom: 20px;
}
.time {
    color: red;
    font-size: 30px;
}
.timer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.time-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid white;
}
.time-container:first-child {
    border-top: 1px solid white;
}
/* 土日の色を変えたいならここを変える */
/* #label-of-sat {
    color: blue;
}
#label-of-sun {
    color: red;
} */
.day-of-week {
    color: white;
    font-size: 20px;
}
.days-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.day {
    margin: auto;
}
#manual-btn {
    background-color: #373737;
}
#manual-icon {
    margin-right: 5px;
}
#manual-txt {
    padding-top: 2px;
    padding-left: 5px;
    color: white;
}
#custom-switch-mon, #custom-switch-tue, #custom-switch-wed, #custom-switch-thu, #custom-switch-fri, #custom-switch-sat, #custom-switch-sun {
    width: 4em;
    height: 2em;
}
/* PC */
@media screen and (min-width: 768px){
	/* PCに適用するCSS*/
    .top-container {
        /* PCで見てもスマホと同じ画面幅で表示する */
        width: 480px;
        margin: 0 auto;
        border-right: 1px solid white;
        border-left: 1px solid white;
    }
    .timer-box {
        padding: 0 20px;
    }
}
/* Tablet */
@media screen and (max-width: 768px){
	/* タブレット画面に適用するCSS*/
    .top-container {
        /* タブレット画面で画面幅いっぱいに表示する */
        width: 100%;
    }
}
/* SmartPhone */
@media screen and (max-width: 480px){
	/* スマホ画面に適用するCSS*/
    .top-container {
        /* スマホ画面で画面幅いっぱいに表示する */
        width: 100%;
    }
}
/* 
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}
 */