.levelBox{
    width: 300px;
    padding: 25px;
    background-color: #D9D9D9;
}

.level {
    display: inline-block;
    width: 8%;
    height: 80px;
    border-radius: 0px;
    margin-left: 2%;
    background-color: #f8f8f8;
    cursor: pointer;
}

.level:first-child{
    margin-left: 0px;
}

.levelFirst{
    background-color: #ADF1AC;
}

.levelSecond{
    background-color: #FFF72F;
}

.levelThird{
    background-color: #FF2121;
}